<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css'%}" >
    <title>DUNE</title>
</head>
<body>

{%if messages%}
    {% for message in messages %}
    <div class="error open">
        <button class="esc3" onclick="{delete_error()}"><img src="{% static 'image/cross.svg'%}"></button>
        <p class="error_text">Ошибка</p>
        <p class="error_text_addition">{{message}}</p>
    </div>
    {%endfor%}
{%endif%}
    <div>
        <img src="{% static 'image/Ellipse 126.png'%}" alt="49" class="register_yellow_background">
    <img src="{% static 'image/coin.png'%}" alt="1" class="sign-coin1">
    <img src="{% static 'image/coin.png'%}" alt="2" class="sign-coin2">
</div>
<div>
    <P class="registration_header_text">УКАЖИТЕ ВАШУ</P>
    <P class="registration_yellow_header_text">ЛОГИН И ПАРОЛЬ</P>
</div>

<form method="post">
    {%csrf_token%}
    <div>
        <input type="text" class="registration_window" placeholder="Логин" name="login">
        <br>
        <input type="password" class="registration_window" placeholder="Пароль" name="password">
    </div>
    <div class="registration_quation_block">
        <input type="checkbox" class="registration_checkbox" name="remember_me">
        <p class="registration_checkbox_text">Запомнить меня</p>
    </div>

    <div>
        <button class="registration_button">Вход</button>
    </div>
</form>
<div class="registration_quation_block">
        <button onclick="location.href='{% url 'password_reset'%}'" class="registration_password_recovery_button">Забыли пароль?</button>
</div><br>

<div>
    <img src="{% static 'image/coin.png'%}" alt="7" class="sign-coin3">
    <img src="{% static 'image/coin.png'%}" alt="8" class="sign-coin4">
    <img src="{% static 'image/Ellipse 126.png'%}" alt="50" class="register_yellow_background2">
</div>
<script src="{% static 'js/posts.js'%}"></script>
</body>
</html>