<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <title>DUNE</title>
</head>
<body>
    <div>
        <img src="{% static 'image/Ellipse 126.png'%}" alt="49" class="register_yellow_background">
    <img src="{% static 'image/coin.png'%}" alt="1" class="coin1">
    <img src="{% static 'image/coin.png'%}" alt="2" class="coin2">
</div>
<div>
    <P class="registration_header_text">УКАЖИТЕ ВАШУ</P>
    <P class="registration_yellow_header_text">ПОЧТУ</P>
</div>

<form method="post">
    {%csrf_token%}
        <div>
            <input type="email" class="registration_window" placeholder="Ваша почта" name="email">
        </div>

        <div>
            <button class="registration_button" >Восстановить пароль</button>
        </div>
</form>

<div>
    <img src="{% static 'image/coin.png'%}" alt="7" class="coin3">
    <img src="{% static 'image/coin.png'%}" alt="8" class="coin4">
    <img src="{% static 'image/Ellipse 126.png'%}" alt="50" class="register_yellow_background2">
</div>
</body>
</html>