<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <title>DUNE</title>
</head>
<body>
    <div>
        <img src="{% static 'image/Ellipse 126.png'%}" alt="49" class="register_yellow_background">
    <img src="{% static 'image/coin.png'%}" alt="1" class="coin1">
    <img src="{% static 'image/coin.png'%}" alt="2" class="coin2">
</div>
    <div>
      <button class="registration_button">Сообщение отправлено</button>
    </div>


<div>
    <img src="{% static 'image/coin.png'%}" alt="7" class="coin3">
    <img src="{% static 'image/coin.png'%}" alt="8" class="coin4">
    <img src="{% static 'image/Ellipse 126.png'%}" alt="50" class="register_yellow_background2">
</div>
</body>
</html>