<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>DUNE</title>
</head>
<body>
{%if messages%}
    {% for message in messages %}
    <div class="error open">
        <button class="esc3" onclick="{delete_error()}"><img src="{% static 'image/cross.svg'%}"></button>
        <p class="error_text">Ошибка</p>
        <p class="error_text_addition">{{message}}</p>
    </div>
    {%endfor%}
{%endif%}
    <div>
        <img src="{% static 'image/Ellipse 126.png' %}" alt="49" class="register_yellow_background">
        <img src="{% static 'image/coin.png' %}" alt="1" class="reg-coin1">
        <img src="{% static 'image/coin.png' %}" alt="2" class="reg-coin2">
    </div>
    <div>
        <P class="registration_header_text">УКАЖИТЕ ВАШУ</P>
        <P class="registration_yellow_header_text">ПОЧТУ И ПАРОЛЬ</P>
    </div>

    <form method="post">
        {% csrf_token %}
        <div>
            <input type="text" class="registration_window" placeholder="Логин" name="login">
            <br>
            <input type="email" class="registration_window" placeholder="Почта" name="email">
            <br>
            <input type="password" class="registration_window" placeholder="Пароль" name="password">
            <br>
            <input type="password" class="registration_window" placeholder="Подтвердите Пароль" name="password1">
        </div>
        <div>
             <button class="registration_button" id="reg_but"><p class="main_page_button1_text">Зарегистрироватся</p></button>
        </div>
    </form>



    <div>
        <img src="{% static 'image/coin.png' %}" alt="7" class="reg-coin3">
        <img src="{% static 'image/coin.png' %}" alt="8" class="reg-coin4">
        <img src="{% static 'image/Ellipse 126.png' %}" alt="50" class="register_yellow_background2">
    </div>

<script src="{% static 'js/posts.js'%}"></script>
</body>
</html>