.left_block_projects {
    position: fixed;
    min-width: 250px;
    max-width: 330px; /* Максимальная ширина для ограничения */
    height: 100vh; /* Высота вьюпорта для адаптивности */
    max-height: 1080px; /* Максимальная высота для ограничения */
    box-shadow: 0px 1px 8px 0px #00000014;
}


.right_block_projects {
    margin-left: 400px;
    max-height: 1500px;
}

.right_block_projects3 {
    margin-left: 400px;
    max-height: 1500px;
}

.projects_text {
    font-family: DUNE;
    font-size: 30.5px;
    line-height: 30.29px;
    letter-spacing: 10.52px;
    font-weight: 400;
    margin-left: 55px;
}

.d_fix_projects {
    position: absolute;
    z-index: 1;
    margin-top: -51.81px;
    margin-left: 56px;
}

.e_fix_projects {
    position: absolute;
    z-index: 2;
    margin-top: -40.2px;
    margin-left: 181px;
}

.e_fix_projects_white {
    position: absolute;
    z-index: 1;
    margin-top: -41px;
    margin-left: 193.3px;
}

.button_block_projects {
    width: 154px;
    height: 255.52px;
    margin-top: 109px;
    margin-left: 55px;
}

.button_on_projects_classic {
    border: none;
    margin-top: 30px;
    width: 154px;
    display: flex;
    background-color: white;
}

.projects_classic_button_text {
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #A29EB6;
margin-top: -0.1px;
margin-left: 15px;
}

.projects_classic_button_text_yellow {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FBCD02;
    margin-top: -0.1px;
    margin-left: 15px;
    }

    .profile {
        margin-top: 340px;
        margin-left: 85px;
        border: none;
        display: flex;
        background-color: white;
    }

    .nickname {
        margin-left: 15px;
        margin-top: 13px;
        font-family: Roboto;
        font-weight: 520;
        font-size: 16px;
        line-height: 24px;
    }

    .search_projects_block {
        display: flex;
        max-width: 815px;
        margin-top: 62px;
        box-shadow: 0px 1px 8px 0px #00000014;
        border-radius: 16px;

    }

    .input_search {
        margin-left: 8px;
        width: 20vw;
        padding-right: 20px;
        height: 48px;
        border-radius: 16px;
        border: none;
        outline: none;
        outline-offset: none;
    }

    .input_search2 {
        margin-left: 8px;
        width: 15vw;
        padding-right: 20px;
        height: 48px;
        border-radius: 16px;
        border: none;
        outline: none;
        outline-offset: none;
        box-shadow: 0px 1px 8px 0px #00000014;
    }

    .img_searh_block_filters {
        margin-left: 10px;
    }

    .filters_block_text {
        margin-left: 30px;
        display: flex;
        gap: 180px;
    }

    .filters_block_text_msg {
font-family: Roboto;
font-weight: 500;
font-size: 12px;
line-height: 24px;
color: #A29EB6;
    }

    .filters_block_buttons {
        display: flex;
        margin-left: 50px;
        gap: 9vw;
    }

    .filters_block_buttons2 {
        display: flex;
        margin-left: 50px;
        gap: 5.5vw;
        padding-bottom: 20px;
    }

    .button_of_filters {
        display: flex;
        width: 141px;
        height: 41px;
        border: none;
        border-radius: 16px;
        background-color: white;
        outline: 0;
        outline-offset: 0;
        box-shadow: 0px 1px 8px 0px #00000014;
    }

    .filters_button_gap_svg {
        margin-top: 10px;
        margin-left: 10px;
    }

    .display_flex_profile_prewiew {
        display: flex;
    }

    .display_flex_social_text {
        display: flex;
        gap: 60px;
        margin-left: 40px;
    }

    .display_flex_status {
        display: flex;
        margin-left: 20px;
        gap: 49px;
        margin-top: -25px;
    }

    .display_flex_social_status {
        display: flex;
    }

    .display_flex_button_status {
        display: flex;
    }

    .prewiew_project_block {
        width: 378px;
        height: 305px;
        border-radius: 19px;
        margin-left: 50px;
        margin-top: 40px;
        box-shadow: 0px 1px 8px 0px #00000014;

    }

    .profile_prewiew_button {
        border: none;
        background-color: white;
        margin-top: 10px;
    }

    .status_block {
        margin-left: 30px;
        margin-top: 20px;
    }

    .id {
        font-family: Lato;
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        color: #A29EB6;
    }

    .project_block_nickname {
        font-family: Lato;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.6px;
        margin-top: -4px;
    }

    .date {
        font-family: Lato;
        font-weight: 500;
        font-size: 12px;
        line-height: 14.4px;
        margin-top: -14px;
        color: #A29EB6;
    }

    .social_text {
        font-family: Lato;
        font-weight: 700;
        font-size: 14px;
        line-height: 16.8px;
    }

    .Yellow_projects_text {
        font-family: Lato;
        font-weight: 700;
        line-height: 20.4px;
        font-size: 17px;
        color: #FFDB3C;
    }

    .link_for_social {
        font-family: Lato;
        font-weight: 700;
        line-height: 20.4px;
        font-size: 17px;
        color: #A29EB6;
    }

    .yellow_link {
        color: #FFDB3C;
        cursor: default;
    text-decoration: none;
    }

    .Yellow_projects_text2 {
        font-family: Lato;
        font-weight: 700;
        line-height: 20.4px;
        font-size: 17px;
        color: #FFDB3C;
        margin-left: 38px;
    }

    .social_network {
        font-family: Lato;
        font-weight: 700;
        line-height: 21.4px;
        font-size: 18px;
        margin-left: 12px;
    }

    .social_network_logo {
        margin-left: 8px;
    }

    .button_status {
        margin-left: 8px;
        margin-top: 3px;
        width: 305.48px;
        height: 46.21px;
        border-radius: 9.24px;
        border: none;
        background-color: #FFDB3C;
        color: white;
    }

    .tick_img {
        margin-left: 10px;
    }

    .display_flex_prewiew_project_block {
        display: flex;
    }

    .overflow_block {
        overflow-y: scroll;
        max-height: 700px;
        max-width: 1400px;
    }

    .add_svg_button {
        position: absolute;
        z-index: 1;
        height: 5vw;
        width: 5vw;
        border-radius: 180px;
        border: none;
        background-color: white;
        left: 83%;
        top: 80%;
    }

    .modal_add {
        background-color: rgba(0, 0, 0, .1);
        left: 0;
        top: 0;
        z-index: 9999999;
        height: 100vh;
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
        visibility: hidden;
        position: fixed;
        opacity: 0;
        transition: opacity .4s, visibility .4s;
    }

    .modal_add.open {
        visibility: visible;
        opacity: 1;
        }

        .modal_box {
            background-color: white;
            width: 330px;
            height: 500px;
            padding: 45px;
            z-index: 99999;
            border-radius: 22.32px;
        }

        .esc {
            border: none;
            width: 24px;
            height: 24px;
            margin-left: 300px;
            margin-top: -40px;
            background-color: white;
            font-size: 16px;
            font-weight: 500;
            color: #A29EB6;
        }

        .display_flex_modal_add_projects {
            display: flex;
            justify-content: center;
            gap: 145px;
        }


        .yellow_phone_page {
            border: none;
            width: 64.6px;
            height: 62.95px;
            border-radius: 180px;
            background-color: #FFE67680;
        }

        .white_phone_page {
            width: 64.6px;
            height: 62.95px;
            border-radius: 180px;
            background-color: #EDEBE680;
            border: none;
        }

        .addition_text {
            font-family: Roboto;
            font-size: 35.24px;
            line-height: 36.41px;
            font-weight: 500;
        }

         .display_flex_profile_prewiew_info {
            display: flex;
            margin-top: 40px;
            margin-left: 40px;
        }

        .addition_text_info {
            margin-left: 40px;
            font-family: Lato;
            font-size: 22.24px;
            line-height: 26.41px;
            font-weight: 700;
            letter-spacing: 1px;
            padding-top: 10px;
        }

        .classic_info_text {
            margin-left: 40px;
            display: flex;
            gap: 5px;
            font-family: Lato;
            font-weight: 500;
            font-size: 14.13px;
            line-height: 16.96px;
            color: #A29EB6;
        }

        .info_text {
            font-family: Lato;
            font-weight: 600;
            font-size: 13.05px;
            line-height: 15.66px;
            color: #000000;
        }

        .manager_info_text {
            font-family: Lato;
            font-weight: 700;
            font-size: 22px;
            line-height: 26.4px;
            margin-left: 50px;
        }

        .yellow_span {
            color: #FFDB3C;
        }

        .managers_text {
            font-family: Lato;
            font-weight: 700;
            font-size: 16.31px;
            line-height: 26.4px;
            color: #A29EB6;
            margin-left: 50px;
        }

        .managers_text_info {
            font-size: 13.05px;
            font-family: Lato;
            line-height: 15.66px;
            color: #000000;
            font-weight: 600;
            margin-left: 10px;
        }

        .yellow_button_info {
            border: none;
            border-radius: 10.05px;
            width: 310.4px;
            height: 50.24px;
            background-color: #FFDB3C;
            color: #FFFFFF;
            margin-left: 50px;
        }

        .project_statistics_info {
            font-family: Lato;
            font-weight: 700;
            font-size: 22px;
            line-height: 26.4px;
            margin-left: 70px;
        }

        .display_flex_info {
            display: flex;
            margin-left: 85px;
            gap: 13vw;
        }

        .classic_info_text_statistics {
            width: 8vw;
            font-family: Lato;
            font-weight: 700;
            font-size: 1vw;
            color: #A29EB6;
        }

        .classic_info_text_count {
            color: #FFD000;
        }


        .display_flex_count {
            display: flex;
            margin-top: -20px;
            margin-left: 120px;
            gap: 355px;
        }

        .looks_like_products {
            font-family: Lato;
            font-weight: 700;
            font-size: 22px;
            line-height: 26.4px;
            margin-left: 80px;
        }

        .overflow_looks_like_projects_block_display_flex {
            display: flex;
            overflow-x: scroll;
            width: 75vw;
            height: 400px;
        }

#input_photo {
    display: none;
}

.input_photo_button {
    display: flex;
    border: none;
    background-color: white;
}

.span_modal_button {
    margin-top: 30px;
    margin-left: 10px;
    font-family: Lato;
    font-weight: 550;
    font-size: 20px;
    background-color: white;
}

.input_project_name {
    border-radius: 10px;
    width: 300px;
    height: 40px;
    margin-top: 20px;
    outline: none;
    outline-offset: 1px;
    border: 2px, #FFDB3C, solid;
}

.display_flex_input_types {
    display: flex;
    gap: 80px;
}

.socials_input {
    display: block;
    width: 120px;
}

.checkbox_type {
    width: 15.71px;
    height: 15.71px;
    border-radius: 6.71px;
}

.Span_label {
    font-family: Roboto;
    font-size: 13.78px;
    font-weight: 500;
    line-height: 18.64px;
    color: #4E4E4E;
    margin-left: 8px;

}

.button_submit {
    margin-top: 15px;
    color: white;
width: 335.33px;
border: none;
background-color: #FFDB3C;
height: 59.11px;
border-radius: 10.86px;
}

.type_modal_text {
    font-size: 16px;
    font-weight: 500;
    font-family: Roboto;
    line-height: 20px;
    color: black;
}

.overflow_block_of_modal_box {
    overflow-y: scroll;
    width: 330px;
    height: 290px;
}

.active_not_active {
    display: flex;
}

.Not_active {
    margin-left: 100px;
}

.Status_in_modal_block {
            font-family: Lato;
            font-weight: 600;
            font-size: 18px;
            line-height: 22.4px;
            margin-left: 115px;
}

.Status_text {
    font-style: Roboto;
    font-size: 14px;
    font-weight: 550;
    line-height: 16px;
    margin-left: 5px;
    color: #A29EB6;
}

.display_flex_modal_block_add_photo {
    display: flex;
    gap: 5px;
}

.blogers_in_application_text {
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px;
    color: #A29EB6;
    margin-left: 12px;
}

.classic_info_text1 {
    display: flex;
    gap: 5px;
    font-family: Lato;
    font-weight: 500;
    font-size: 14.13px;
    line-height: 16.96px;
    color: #A29EB6;
    margin-left: 10px;
}

.Applications_projects_text{
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px;
    color: #A29EB6;
    margin-left: 12px;
}

.button_cancel_application {
    border: none;
    font-family: Lato;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.6px;
    color: #A29EB6;
    width: 285.48px;
    height: 46.21px;
    background-color: white;
    margin-left: 22px;
}

.prewiew_application_block {
    width: 340px;
    height: 640px;
    border-radius: 19px;
    box-shadow: 0px 1px 8px 0px #00000014;
    margin-top: 20px;

}

.overflow_block_applications {
    overflow-y: scroll;
    max-height: 900px;
    max-width: 1200px;
}

.display_flex_social_text_bloggers {
    margin-left: 8px;
    display: flex;
    gap: 45px;
}

.display_flex_status_bloggers {
    display: flex;
    gap: 69px;
    margin-top: -15px;
    margin-left: 23px;
}

.social_text_bloggers {
    font-family: Lato;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.4px;
    color: #A29EB6;
}

.Yellow_projects_text1 {
    font-family: Lato;
        font-weight: 700;
        line-height: 20.4px;
        font-size: 17px;
        color: #FFDB3C;
        margin-left: -13px;
}

.bloggers_theme {
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px;
    color: #A29EB6;
    margin-left: 8px;
}

.bloggers_theme2 {
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px;
    color: #A29EB6;
    margin-left: 8px;
    margin-top: -4px;
}

.type_of_theme {
    font-family: Lato;
    font-weight: 700;
    font-size: 12.03px;
    line-height: 14.04px;
    color: black;
    margin-left: 15px;
}

.button_status1 {
    width: 300.06px;
    margin-left: 8px;
    height: 46.21px;
    border-radius: 9.24px;
    border: none;
    background-color: #FFDB3C;
    color: white;
}

.project_logo {
    width: 70px;
    height: 70px;
    border-radius: 180px;
    margin-left: 10px;
}

.overflow_block_bloggers {
        overflow-y: scroll;
        max-height: 700px;
        max-width: 1400px;
}

.grid_block_bloggers {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: repeat(3, 1fr);
   grid-auto-flow: row;
}

.display_flex_date_input {
    display: flex;
    gap: 10px;
}

.date_text_modal_box {
    font-family: Lato;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px;
    color: #A29EB6;
}

.date_text_modal_box_radius {
    font-family: Lato;
    font-weight: 600;
    font-size: 14px;
    line-height: 18.4px;
    color: #A29EB6;
}

.input_date {
    border: 2px, #A29EB6, solid;
    box-shadow: 0px 1px 8px 0px #00000014;
    width: 100px;
    height: 30px;
    margin-top: 5px;
    outline: none;
}

input::-webkit-calendar-picker-indicator {
    width: 1.5vw;
    height: 1.5vw;
}

.Status_in_modal_block_bloggers {
    font-family: Lato;
    font-weight: 600;
    font-size: 18px;
    line-height: 22.4px;
    margin-left: 85px;
}

.big_window {
    height: 900px;
    width: 500px;
    background-color: white;
    border: none;
    border-radius: 19px;
}

.modal_add2 {
    background-color: rgba(0, 0, 0, .1);
    left: 0;
    top: 0;
    z-index: 9999999;
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    position: fixed;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal_add2.open {
    visibility: visible;
    opacity: 1;
    }

.display_flex_higher_block_of_modal_box_big_window {
    display: flex;
}

.addition_text2 {
    font-family: Roboto;
    font-size: 35.24px;
    line-height: 36.41px;
    font-weight: 500;
    margin-left: 60px;
}

.esc2 {
    border: none;
    width: 24px;
    height: 24px;
    background-color: white;
}


.overflow_block_bloggers_window {
    overflow-y: scroll;
        height: 700px;
        width: 1360px;
        margin-left: 80px;
}

.label_fix {
display: inline-flex;
}

.input_project_name2 {
    border-radius: 10px;
    width: 300px;
    height: 40px;
    margin-top: -10px;
    outline: none;
    outline-offset: 1px;
    border: 2px, #FFDB3C, solid;
}

.Status_in_modal_block_bloggers2 {
    font-family: Lato;
    font-weight: 600;
    font-size: 18px;
    line-height: 22.4px;
    margin-left: 105px;
}

.socials_input_theme {
    width: 300px;
}

.grid_block_modal_box_bloggers {
    display: grid;
   grid-auto-flow: row;
}

.overflow_block_of_modal_box_bloggers {
    width: 450px;
    margin-left: 30px;
    overflow-y: scroll;
    margin-top: -50px;
    height: 660px;
}

.display_flex_social_status_blogers {
    display: flex;
    margin-left: 8px;
    margin-top: -25px;
}

.social_network_blogers{
    font-family: Lato;
    font-weight: 600;
    line-height: 21.4px;
    font-size: 18px;
    color: #A29EB6;
}

.status_sucсess_waiting {
    font-family: Lato;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}

.status_sucсess_accept {
    font-family: Lato;
    font-weight: 600;
    font-size: 14px;
    color: greenyellow;
}

.status_sucсess_cancel {
    font-family: Lato;
    font-weight: 600;
    font-size: 14px;
    color: red;
}

.bloger_list {
    list-style-type: none;
}

.prewiew_project_block_in_list {
    margin-top: 50px;
    margin-left: -30px;
    width: 338px;
    height: 305px;
    border-radius: 19px;
    box-shadow: 0px 1px 8px 0px #00000014;
}

.bloger_list_element {
    display: flex;
    gap: 30px;
}

.input_element_in_bloger_list {
    margin-bottom: 250px;
}


.button_submit_blogers {
    color: white;
width: 450px;
border: none;
background-color: #FFDB3C;
height: 49.11px;
border-radius: 10.86px;
margin-left: 25px;
}

.style_fix {
    margin-left: 15px;
}

.error {
        position: fixed;
        border: none;
        width: 396px;
        height: 148px;
        border-radius: 14.58px;
        right: 10%;
        visibility: 0;
        opacity: 0;
        z-index: 0;
        box-shadow: 0px 1px 8px 0px #00000014;
        background-color: white;
}

.error.open {
    visibility: 1;
    opacity: 1;
    z-index: 1;
}

.esc3 {
    position: fixed;
    background-color: white;
    margin-left: 330px;
    width: 24px;
    height: 24px;
    border: none;
}

.error_text {
    margin-left: 10px;
    margin-top: 10px;
    width: 350px;
    height: 100px;
    font-size: 25px;
    font-weight: 600;
    font-family: Lato;
}

.error_text_addition {
    width: 274.02px;
    height: 80px;
    margin-left: 10px;
    margin-top: -90px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 15.41px;
    color: #A29EB6;
}

.info_block {
    width: 433.11px;
height: 112.83px;
border-radius: 20.93px;
margin-top: 30px;
box-shadow: 0px 1.1px 8.81px 0px #00000014;
}

.screenshot_block {
    width: 433.11px;
    min-height: 112.83px;
    border-radius: 20.93px;
    margin-top: 30px;
    box-shadow: 0px 1.1px 8.81px 0px #00000014;
}


.big_screen {
    background-color: rgba(0, 0, 0, .1);
    left: 0;
    top: 0;
    z-index: 9999999;
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    position: fixed;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.big_screen.open {
    opacity: 1;
    visibility: visible;
}

.big_image {
    width: 100vw;
    height: 100vh;
}

.large_button {
    border: none;
    width: 100%;
    height: 100%;
    background-color: white;
}

.Yellow_text_for_screen {
    margin-left: 50px;
    margin-top: 8px;
    font-weight: 600;
    font-size: 22px;
    font-family: Lato;
    color: #FBCD02;
}

.Info_text_posts {
    font-family: Lato;
font-size: 18.2px;
font-weight: 700;
line-height: 21.84px;
padding-top: 15px;
margin-left: 30px;
}

.box_shadows_in_status_block {
    width: 444.95px;
height: 223.96px;
border-radius: 22.34px;
box-shadow: 0px 1.18px 9.41px 0px #00000014;
}

.button_of_post_redaction {
    width: 335.65px;
height: 54.33px;
border-radius: 10.87px;
background-color: #FFDB3C;
border: none;
font-family: Lato;
font-size: 17.64px;
font-weight: 700;
line-height: 21.16px;
color: #FFFFFF;
text-align: center;
}

.ssrw {
    display: inline-block;
    margin-top: 10px;
}

.screenshot {
    padding: 10px;
    min-height: 0px;
    min-width: 0px;
    max-width: 413.11px;
    max-height: 413.11px;
    border: none;
    background-color: white;
}

.status_of_project_in_posts {
    font-family: Lato;
font-size: 14.11px;
font-weight: 700;
line-height: 16.93px;
color: #A29EB6;
margin-left: 10px;
}

.display_flex_profile_prewiew_info2 {
    display: flex;
    margin-top: 40px;
}

.box_shadow_in_info_text {
    width: 444.43px;
height: 335.06px;
border-radius: 22.34px;
box-shadow: 0px 1.18px 9.41px 0px #00000014;
}

.profile_logo_bloger {
    border-radius: 180px;
    width: 82.19px;
height: 82.19px;
}

.left_posts_block_box_shadows {
    box-shadow: 0px 1.18px 9.41px 0px #00000014;
    width: 444.43px;
height: 385.65px;
border-radius: 22.34px;
}

.style_fix4 {
    margin-top: 15px;
}

.display_flex_profile_prewiew2 {
    display: flex;
}

.redaction_post_button {
    width: 335.65px;
height: 54.33px;
border-radius: 10.87px;
font-family: Lato;
font-size: 17.64px;
font-weight: 700;
line-height: 21.16px;
color: white;
margin-top: 20px;
border: none;
background-color: #FFDB3C;
}

.style_fix5 {
    margin-left: -30px;
}

.style_fix7 {
    margin-left: 50px;
}

.addition_text_posts {
    margin-top: 15px;
    font-family: Lato;
font-size: 23.51px;
font-weight: 700;
line-height: 28.22px;
padding-top: 25px;
margin-left: 10px;
}

.bloggers_post_info {
    width: 444.43px;
height: 236.26px;
border-radius: 22.34px;
box-shadow: 0px 1.18px 9.41px 0px #00000014;
}

.classic_post_text {
    font-family: Lato;
font-size: 18.81px;
font-weight: 700;
line-height: 22.57px;
color: #A29EB6;
margin-left: 20px;
}

.right_block_projects2 {
    margin-left: 400px;
    max-width: 1400px;
    max-height: 700px;
}

.yellow_span2 {
    color: #FFDB3C;
    margin-left: 10px;
}

.motion1 {
    position: fixed;
    border:none;
    width: 321px;
    max-width: 80%;
    height: 234px;
    border-radius: 19px;
    right: 10%;
    visibility: 0;
    opacity: 0;
    z-index: 0;
    background-color: white;
    box-shadow: 0px 1px 8px 0px #00000014;
    }

    .motion1.open {
        visibility: 1;
        opacity: 1;
        z-index: 1;
    }

    .motion2 {
        position: fixed;
        border:none;
        width: 180px;
        height: 146px;
        border-radius: 19px;
        right: 10%;
        visibility: 0;
        opacity: 0;
        z-index: 0;
        background-color: white;
        box-shadow: 0px 1px 8px 0px #00000014;
        }

        .motion2.open {
            visibility: 1;
            opacity: 1;
            z-index: 1;
        }

        .motion3 {
            position: fixed;
            border:none;
            border-radius: 19px;
            width: 190px;
            height: 134px;
            right: 10%;
            visibility: 0;
            opacity: 0;
            z-index: 0;
            background-color: white;
            box-shadow: 0px 1px 8px 0px #00000014;
            }

            .motion3.open {
                visibility: 1;
                opacity: 1;
                z-index: 1;
            }

            .motion4 {
                position: fixed;
                border:none;
                border-radius: 19px;
                width: 350px;
                min-height: 194px;
                max-height: 600px;
                right: 10%;
                visibility: 0;
                opacity: 0;
                z-index: 0;
                background-color: white;
                box-shadow: 0px 1px 8px 0px #00000014;
                }

            .motion4.open {
                visibility: 1;
                opacity: 1;
                z-index: 1;
            }

            .motion1_text {
                margin-left: 30px;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 422;
                line-height: 25px;
                text-align: justify;
                font-variation-settings: 'wdth' 100;
                color: #A29EB6;
            }
            .motion2_text {
                margin-left: 5px;
                font-family: Roboto;
                font-size: 15px;
                font-weight: 500;
                line-height: 17.58px;
                color: #A29EB6;
            }

            .motion2_error_text {
                margin-left: 45px;
                font-family: Roboto;
                font-size: 20px;
                font-weight: 600;
                line-height: 23.44px;
                color: #FF5959;

            }

            .motion3_text {
                font-family: Lato;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
            }

            .motion1_button {
                width: 242px;
                height: 39.17px;
                border-radius: 7.83px;
                background-color: #FFDB3C;
                border: none;
                font-family: Lato;
                font-size: 14.35px;
                font-weight: 700;
                line-height: 17.22px;
                color: #FFFFFF;
                margin-left: 30px;
            }

            .motion2_button {
                margin-left: 20px;
                width: 145px;
                height: 38.55px;
                border-radius: 9.24px;
                background-color: #FFDB3C;
                border: none;
                font-family: Lato;
                font-size: 14.35px;
                font-weight: 700;
                line-height: 17.22px;
                color: #FFFFFF;
            }
            .motion3_button {
                width: 185px;
                height: 30px;
                border-radius: 6.06px;
                background-color: #FFDB3C;
                border: none;
                font-family: Lato;
                font-size: 14.35px;
                font-weight: 700;
                line-height: 17.22px;
                color: #FFFFFF;
            }

            .motion4_button {
                margin-top: 40px;
                width: 325px;
                height: 50px;
                border-radius: 6.06px;
                background-color: #FFDB3C;
                border: none;
                font-family: Lato;
                font-size: 14.35px;
                font-weight: 700;
                line-height: 17.22px;
                color: #FFFFFF;
                margin-left: 12px;
            }

            .rub_counter {
                padding-top: 20px;
                font-family: Roboto;
                font-size: 49.48px;
                font-weight: 600;
                line-height: 57.98px;
                color: #FFD000;
                margin-left: 30px;
                margin-top: 50px;

            }

            .ff_text {
            margin-left: 30px;
            font-family: Roboto;
            font-size: 15.39px;
            font-weight: 500;
            line-height: 18.04px;
            color: #A29EB6;

            }

            .incoming_stat {
                width: 205.6px;
                height: 188.01px;
                border-radius: 20.89px;
                box-shadow: 0px 1.1px 8.8px 0px #00000014;
                margin-left: 50px;
            }

            .display_flex_of_stat_text {
                margin-top: 50px;
                display: flex;
                gap: 1000px;
            }

            .stat_of_stat_text {
                font-family: Roboto;
                font-size: 25px;
                font-weight: 500;
                line-height: 24px;
                color: #585555;
            }

            .time_of_stat {
                font-family: Roboto;
                font-size: 12px;
                font-weight: 500;
                line-height: 24px;
                color: #A29EB6;
            }

            .display_flex_part_of_text {
                display: flex;
                gap: 480px;
                margin-left: 40px;
            }

            .display_flex_stat_blocks {
                display: flex;
                gap: 340px;
                margin-left: 40px;
                margin-top: 20px;
            }
            .fff_text {
                font-family: Roboto;
                font-size: 12px;
                font-weight: 500;
                line-height: 24px;
                color: #A29EB6;
            }

            .stat_boxes_of_shadows {
                box-shadow: 0px 1px 8px 0px #00000014;
                width: 1412px;
                height: 325px;
                border-radius: 19px;
                overflow-y: scroll;
            }

            .date_of_stats {
                font-family: Lato;
                font-size: 10px;
                font-weight: 600;
                line-height: 12px;
                color: #A29EB6;
                padding-top: 40px;
            }

            .img_stats_commiter {
                margin-left: 130px;
            }

            .message_part {
                display: flex;
                margin-left: 10px;
            }

            .nickname_in_motion {
                margin-top: 25px;
                font-family: Lato;
                font-size: 13.54px;
                font-weight: 700;
                line-height: 16.25px;
            }

            .motion_type {
                font-family: Lato;
                font-size: 9.32px;
                font-weight: 700;
                line-height: 11.18px;
                color: #FFD000;
            }

            .motion_block {
                margin-left: 50px;
            }

            .delete_motion {
                margin-left: 50px;
                border: none;
                border-radius: 17.71px ;
                background-color: white;
            }

            .display_flex_data_stats {
                margin-top: 30px;
                margin-left: 60%;
                display: flex;
                border-radius: 10.69px;
            }

            .date_data {
                font-family: Lato;
                font-size: 0.8vw;
                font-weight: 600;
                margin-left: 3vw;
                border: none;
                background-color: white;
                width: 3vw;
                height: 2vw;
                text-align: center;
            }

            .date_data.active {
                font-size: 0.8vw;
                text-align: center;
                margin-left: 3vw;
                border: none;
                background-color: white;
                width: 3vw;
                height: 2vw;
                color: #FFDB3C;
            }

            .display_flex_info_blocks {
                display: flex;
                margin-top: 20px
            }

            .info_block2 {
                margin-top: -1vh;
                width: 25vw;
                height: 16vw;
                min-width: 180px;
                min-height: 100px;
                border-radius: 23.09px;
                box-shadow: 0px 1.22px 9.72px 0px #00000014;
                margin-left: 0.5vw;
            }

            .submit_data {
                width: 12vw;
                height: 3vw;
                min-height: 30px;
                min-width: 80px;
                border-radius: 15px;
                background: #FFDB3C;
                box-shadow: 0px 0.87px 6.93px 0px #00000014;
                color: white;
                border: none;
                font-size: 2vw;
                margin-top: 11vw;
                margin-left: 1vw;
            }

            .submit_data2 {
                width: 12vw;
                min-width: 150px;
                min-height: 30px;
                height: 3vw;
                border-radius: 15px;
                background: #FFDB3C;
                box-shadow: 0px 0.87px 6.93px 0px #00000014;
                color: white;
                border: none;
                margin-left: 30px;
            }

            .submit_data3 {
                width: 12vw;
                height: 3vw;
                min-height: 30px;
                min-width: 80px;
                border-radius: 15px;
                background: #FFDB3C;
                box-shadow: 0px 0.87px 6.93px 0px #00000014;
                color: white;
                border: none;
                font-size: 2vw;
                margin-top: 11vw;
                margin-left: 1vw;
            }

            .date_text {
                font-family: Lato;
                font-size: 1.5vw;
                font-weight: 600;
                color: #B3B3B3;
                margin-left: 20px;
            }

            .no_vision {
                border: none;
                height: 3vw;
                width: 22vw;
                border-radius: 15px;
                outline: none;
                outline-offset: 0;
            }

            .no_vision2 {
                position: absolute;
                border: none;
                outline: none;
                outline-offset: 0;
                visibility: hidden;
                margin-top: -5555px;
            }


            .no_vision3 {
                border: none;
                height: 3vw;
                width: 15vw;
                border-radius: 15px;
                outline: none;
                outline-offset: 0;
            }

            .good_label {
                width: 309px;
                height: 49px;
                border-radius: 15px;
                background-color: #FFDB3C;
                text-align: center;
                color: white;
                font-size: 22px;
                font-weight: 600;

            }

            .label_for_data {
                width: 40vw;
                height: 69px;
                border-radius: 15px;
                margin-left: 20px;
                background-color: #fafafa;
                font-family: Lato;
                font-weight: 300;
                font-size: 0.3rem;
            }

            .calendar {
                margin-left: 20px;
            }

            .option_list {
                width: 18vw;
                height: 3vw;
                border-radius: 15px;
                border: none;
                outline: none;
                outline-offset: 0;
                margin-left: 20px;
                background-color: #fafafa;
                font-family: Lato;
                font-weight: 300;
                font-size: 0.5rem;
            }

            .stats_block_display_flex {
                margin-top: 1vh;
                display: flex;
                gap: 20px;
            }

            .status_block2 {
                width: 20vw;
                height: 15vw;
                min-height: 90px;
                min-width: 130px;
                border-radius: 23.09px;
                box-shadow: 0px 1.22px 9.72px 0px #00000014;
            }

            .needed_display_flex {
                display: flex;
            }

            .status_type {
                font-family: Lato;
                font-size: 1.875vw;
                font-weight: 700;
                line-height: 2rem;
                margin-left: 20px;
            }

            .date_option {
                width: 112vw;
                height: 13.89px;
                font-family: Lato;
                font-size: 0.5rem;
                font-weight: 700;
                border: none;
                background-color: white;
                margin-left: 3vw;
                margin-top: 2vh;
            }

            .status_config {
                margin-top: 2vw;
                font-family: Lato;
                font-size: 3.5vw;
                font-weight: 700;
                margin-left: 20px;
                color: #FFDB3C;
            }

            .wallet {
                color: #A29EB6;
                font-size: 2vw;
            }

            .offers_block {
                margin-top: 30px;
                width: 70vw;
                width: 75vw;
                height: 50vh;
                overflow: scroll;
            }

            .offer_type {
                margin-left: 40px;
                font-family: Lato;
                font-size: 2vw;
                font-weight: 700;
                color: #424242;
            }

            .date_option_offer {
                font-family: Lato;
                font-size: 0.5rem;
                font-weight: 700;
                border: none;
                background-color: white;
                margin-left: 40vw;
                margin-top: 1vh;
            }

            .table_ss {
                border-spacing: 0px;
            }

            .table_el_ff {
                font-family: Lato;
                font-size: 1vw;
                font-weight: 800;
                width: 20vw;
                height: 8vw;
                text-align: center;
            }

            .table_el {
                font-family: Lato;
                font-size: 1vw;
                font-weight: 800;
                width: 20vw;
                height: 8vw;
                border: 2.45px, solid, #DFDFDF;
                text-align: center;
            }

            .invisible_input {
                display: none;
            }

            .adding_offer_button {
                border-radius: 180px;
                width: 20px;
                height: 20px;
                border: none;
                background-color: white;
                padding-left: 90%;
                display: block;
                position: static;
            }


            .display_flex_blogger_paying_block {
                display: flex;
                gap: 20px;
                overflow-x: scroll;
            }

            .modal_box2 {
                background-color: white;
                width: 330px;
                height: 700px;
                padding: 45px;
                z-index: 99999;
                border-radius: 22.32px;
            }

            .input_bloger_paying {
                margin-top: -30px;
                border-radius: 10px;
                width: 320px;
                height: 40px;
                outline: none;
                outline-offset: 1px;
                border: 2px, #FFDB3C, solid;
            }

            .ffadd {
                width: 24px;
                height: 24px;
                right: 0;
                margin-top: 25px;
            }

            .ffadd:active {
                width: 24px;
                height: 24px;
                right: 0;
                margin-top: 25px;
                background-color: #424242;
                transition: 0.4s;
            }

            .modal_add4 {
                left: 0;
                top: 0;
                z-index: 9999999;
                height: 95vh;
                width: 95%;
                display: grid;
                align-items: center;
                justify-content: center;
            }

            @media(max-width:1900px) {
                .grid_block_bloggers {
                    display: grid;
                    grid-template-rows: repeat(auto-fill, 1fr);
                    grid-template-columns: repeat(2, 1fr);
                   grid-auto-flow: row;
                }
            }

            @media(max-width:1300px) {
                .grid_block_bloggers {
                    display: grid;
                    grid-template-rows: repeat(auto-fill, 1fr);
                    grid-template-columns: repeat(1, 1fr);
                   grid-auto-flow: row;
                }
            }

            @media(max-width:780px){

                .error_text {
                    margin-left: 10px;
                    margin-top: 10px;
                    width: 150px;
                    height: 100px;
                    font-size: 25px;
                    font-weight: 600;
                    font-family: Lato;
                }

                .error_text_addition {
                    width: 124.02px;
                    height: 80px;
                    margin-left: 10px;
                    margin-top: -90px;
                    font-family: Lato;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 15.41px;
                    color: #A29EB6;
                }

                .error {
                    position: fixed;
                    border: none;
                    width: 196px;
                    height: 148px;
                    border-radius: 14.58px;
                    right: 10%;
                    visibility: 0;
                    opacity: 0;
                    z-index: 0;
                    box-shadow: 0px 1px 8px 0px #00000014;
                    background-color: white;
            }


                .stats_block_display_flex {
                    margin-top: 1vh;
                    display: grid;
                    grid-template-rows: auto;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 20px;
                }

                .submit_data3 {
                    width: 12vw;
                    height: 3vw;
                    min-height: 30px;
                    min-width: 80px;
                    border-radius: 15px;
                    background: #FFDB3C;
                    box-shadow: 0px 0.87px 6.93px 0px #00000014;
                    color: white;
                    border: none;
                    font-size: 2vw;
                    margin-top: 0.5vh;
                    margin-left: 1vw;
                }

                .info_block2 {
                    margin-top: 2vh;
                    width: 25vw;
                    height: 16vw;
                    min-width: 180px;
                    min-height: 100px;
                    border-radius: 23.09px;
                    box-shadow: 0px 1.22px 9.72px 0px #00000014;
                    margin-left: 0.5vw;
                }

                .display_flex_info_blocks {
                    display: grid;
                    grid-auto-rows: auto;
                    margin-top: 20px
                }

                .offers_block {
                    margin-top: 30px;
                    width: 95vw;
                    min-width: 480px;
                    height: 30vh;
                    overflow-y: scroll;
                }

                .display_flex_info {
                    display: grid;
                    grid-template-rows: repeat(auto-fill, 1fr);
                    grid-template-columns: repeat(2, 1fr);
                   grid-auto-flow: row;
                   gap: 30px;
                }


                .right_block_projects2 {
                    margin-left: auto;
                    max-width: 460px;
                    height: 70vh;
                }

                .right_block_projects {
                    max-width: 460px;
                    margin-left: auto;
                    max-height: 900px;
                }

                .right_block_projects3 {
                    margin-left: auto;
                    height: 90vh;
                    width: 90%;
                    overflow: scroll;
                }


                .left_block_projects {
                    position: fixed;
                    bottom: 0px;
                    left: -5%;
                    height: 40px;
                    display: flex;
                    justify-content: space-between;
                    background-color: white;
                    width: 85vw;
                    z-index: 1001;
                }

                .projects_classic_button_text {
                    display: none;
                    }

                    .projects_classic_button_text_yellow {
                        display: none;
                        }
                        .projects_text {
                            display: none;
                        }

                        .button_block_projects {
                            position: fixed;
                            bottom: 0px;
                            left: -5%;
                            height: 40px;
                            display: flex;
                            justify-content: space-between;
                            background-color: white;
                            width: 85vw;
                            z-index: 1001;
                        }

                        .button_on_projects_classic {
                            border: none;
                            margin-top: 5px;
                            width: 28px;
                            height: 28px;
                        }
            }

            .list_info_of_project {
                box-shadow: 0px 1.18px 9.41px 0px #00000014;
                border-radius: 18px;
                width: 15vw;
                text-align: center;
            }

            .res_option {
                font-family: Lato;
                font-weight: 300;
                font-size: 0.5rem;
            }

            .image_of_offer_button {
                width: 7vw;
                height: 7vw;
            }
            